@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap");

:root {
  --primary-color: #333;
  --secondary-color: #444;
  --ternary-color: #555;
  --light-color: #ccc;
  --light-secondary-color: #ddd;
  --light-ternary-color: #eee;
  --overlay-color: rgba(0, 0, 0, 0.7);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Implement Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Catamaran", sans-serif;
  line-height: 1.6;
  color: var(--primary-color);
  font-size: 1.1rem;
}

body:has(#lightbox[open]) {
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  line-height: 1.3;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* navbar */

.navbar {
  font-size: 1.2rem;
  padding: 0.3rem 0;
}

.navbar .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.navbar ul {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  justify-content: center;
}

.navbar a {
  padding: 0 1rem;
}

.navbar a:hover {
  color: var(--ternary-color);
}

/* showcase section */

.section-showcase {
  margin: 2rem 0;
}

.section-showcase .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.section-showcase h1 {
  font-size: 4rem;
  color: var(--primary-color);
}

.section-showcase p {
  margin: 1rem 0;
}

.btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 30px;
}

.btn:hover {
  background: var(--secondary-color);
}

/* large text section */

.section-large-text {
  position: relative;
  background: url("https://images.unsplash.com/photo-1593121925328-369cc8459c08?q=80&w=2070")
    bottom center/cover no-repeat;
  height: 600px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--overlay-color);
}

.section-large-text-inner {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 860px;
  padding: 5rem 0;
}

.section-large-text-inner h2 {
  font-size: 5rem;
  margin-top: 1rem;
}

.section-large-text-inner h3 {
  font-size: 2rem;
}

.section-large-text-inner p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

/* gallery */

.section-gallery .gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.section-gallery .gallery img:first-child {
  grid-row: 1/3;
  grid-column: 1/3;
}

.section-gallery .gallery img:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 5;
}

.section-gallery .gallery img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Add a Lightbox to the Gallery */

#lightbox {
  padding: 0;
  border: none;
  box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  inset: 0;
  transition: opacity 0.3s;
  position: fixed;
  margin: auto;
  z-index: 1;
}

.lightbox__center {
  display: grid;
  place-items: center;
}

#lightbox[open] {
  animation: fadeIn 0.3s;
}

.lightbox__img {
  max-width: 90vw;
  max-height: 80vh;
  border-radius: 20px;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.4);
  background: #fff;
  padding: 0.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* footer */
/* Refactor Footer with BEM */

.footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 4rem 0;
}

.footer__container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.footer__column h3.footer__title {
  font-size: 1.3rem;
  margin-bottom: 0.7rem;
}

.footer__links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__links li a {
  line-height: 1.9;
  color: var(--light-color);
}

.footer__column a > i {
  color: var(--ternary-color);
  margin-right: 0.5rem;
}

.footer__form-group {
  display: inline-block;
  width: 100%;
  background-color: var(--ternary-color);
  position: relative;
  border-radius: 20px;
  line-height: 0;
  margin-top: 1rem;
}

.footer__form-control {
  display: inline-block;
  width: 100%;
  height: 45px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  font-size: 1rem;
  color: var(--light-secondary-color);
  background-color: transparent;
  font-family: inherit;
  margin: 0;
  padding: 0 3rem 0 1.5rem;
}

.footer__form-submit {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background-color: var(--light-ternary-color);
  font-size: 1rem;
  text-align: center;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-radius: 0 20px 20px 0;
  color: var(--primary-color);
  cursor: pointer;
}

@media (max-width: 768px) {
  .section-showcase .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .section-showcase .container div:first-child {
    order: 2;
  }

  .section-showcase .container div:nth-child(2) {
    order: -1;
  }

  .section-showcase h1 {
    font-size: 2rem;
  }

  .section-showcase img {
    width: 80%;
    margin: auto;
  }

  .section-large-text-inner h2 {
    font-size: 3rem;
  }

  .section-large-text-inner h3 {
    font-size: 1.5rem;
  }

  .section-large-text-inner p {
    font-size: 1.25rem;
  }

  .section-gallery .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .section-gallery .gallery img:first-child {
    grid-row: 1/1;
    grid-column: 1/1;
  }

  .section-gallery .gallery img:nth-child(2) {
    grid-row: 2/2;
    grid-column: 2/4;
  }

  .section-gallery .gallery img:last-child {
    display: none;
  }

  .footer {
    padding: 2rem 0;
  }

  .footer__container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer__container .footer__column:nth-child(2),
  .footer__container .footer__column:nth-child(3) {
    display: none;
  }
}
