@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #00aa00;
}

body {
  font-family: "Roboto Mono", sans-serif;
  background-color: #333;
  color: #ccc;
  font-size: 18px;
  line-height: 1.6;
}

.container {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

nav {
  width: 40%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  color: var(--text-color);
  cursor: pointer;
}

h1 {
  color: var(--text-color);
  font-size: 50px;
  letter-spacing: -5px;
  margin-bottom: 20px;
}

h2 {
  color: var(--text-color);
}

h3 {
  margin-bottom: 10px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.hidden {
  display: none;
}

.wb-body {
  background-color: #111;
  padding: 20px;
}

p {
  margin: 20px 0;
}

.cursor {
  font-weight: 700;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: var(--text-color);
  }
}
