@layer reset, theme, bulma, layout, content, components, utility;

@import "reset.css" layer(reset);
@import "theme.css" layer(theme);
@import "layout.css" layer(layout);
@import "content.css" layer(content);
@import "components.css" layer(components);
@import "utility.css" layer(utility);
/* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
  layer(bulma); */
