/* Replace Roboto with a font you like. */
@import url("https://fonts.googleapis.com/css2?family=Newspaper:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Newspaper", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

div {
  background-color: blue;
  width: 200px;
  height: 200px;
}
