@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

/* Change Animation Timing */
:root {
  --animation-duration: 1s;
  --animation-easing: ease-in-out;
}

* {
  box-sizing: border-box;
}

body {
  /* Change the Navigation Colors */
  background-color: #262626;
  background-image: linear-gradient(
    to bottom,
    #262626 0%,
    #262626 50%,
    #2c2c54 50%,
    #2c2c54 100%
  );
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

nav {
  background-color: #2d2d2d;
  padding: 20px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: width var(--animation-duration) var(--animation-easing);
}

/* Add a "Services" Menu Item */
nav.active {
  width: 430px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 0;
  transition: width var(--animation-duration) var(--animation-easing);
  overflow-x: hidden;
  gap: 20px;
}

nav.active ul {
  width: 100%;
}

nav ul li {
  transform: rotateY(0deg);
  opacity: 0;
  transition: transform var(--animation-duration) var(--animation-easing),
    opacity var(--animation-duration) var(--animation-easing);
}

nav.active ul li {
  transform: rotateY(360deg);
  opacity: 1;
}

nav ul a {
  position: relative;
  color: #e0e0e0;
  text-decoration: none;
}

.icon {
  background-color: #2d2d2d;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 30px;
  width: 30px;
}

.icon:focus {
  outline: 0;
}

.icon .line {
  background-color: #6c7ae0;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
  transition: transform var(--animation-duration) var(--animation-easing);
}

.icon .line2 {
  top: auto;
  bottom: 10px;
}

/* Customize the Icon Animation */

nav.active .icon .line1 {
  transform: rotate(-45deg) translateY(5.5px);
}

nav.active .icon .line2 {
  transform: rotate(45deg) translateY(-5.5px);
}

@media (max-width: 430px) {
  nav.active {
    width: 100%;
    height: 180px;
  }

  nav.active ul {
    flex-direction: column;
    gap: 10px;
  }
}
