@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap");

:root {
  --main-color: #f60f20;
  --secondary-color: #1b206e;
  --highlight-color: #c4a2fc;
  --text-color: #111;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Rubik", sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: var(--main-color);
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 10px 30px;
  margin: 20px 0;
  border: 0;
}

.btn:hover {
  transform: scale(0.98);
}

.logo {
  position: absolute;
  top: 16px;
  left: 40px;
  z-index: 20;
}

.logo h1 {
  font-size: 1.6rem;
  font-weight: 700;
}

/* NAVIGATION */
.toggle {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: var(--main-color)
    url("https://github.com/bradtraversy/creative-agency-website/blob/master/images/menu.png?raw=true");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  z-index: 20;
}

.toggle.active {
  background: var(--main-color)
    url("https://github.com/bradtraversy/creative-agency-website/blob/master/images/close.png?raw=true");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
}

.navigation {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation.active {
  left: 0;
}

.navigation ul {
  position: relative;
  list-style-type: none;
}

.navigation ul li {
  position: relative;
  text-align: center;
  padding-bottom: 5px;
}

.navigation ul li a {
  font-size: 2rem;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 300;
}

.navigation ul li a:hover {
  color: var(--main-color);
}

.navigation .social-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation .social-bar a {
  display: inline-block;
  transform: scale(0.5);
}

.navigation .email-icon {
  position: absolute;
  bottom: 20px;
}

/* SECTIONS */
section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  padding: 100px 40px;
  margin-top: 60px;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

p {
  margin: 20px 0 10px;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 300;
}

/* HOME SECTION */
section.home {
  flex-direction: row;
  margin-top: 0;
}

.home-content {
  position: relative;
  z-index: 10;
  max-width: 600px;
}

/* Reference: https://stackoverflow.com/questions/43683187/how-can-i-create-custom-underline-or-highlight-for-text-in-html-or-css */
.highlight {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 50%,
    var(--highlight-color) 50%
  );
  padding: 0 0.25rem;
}

.home-img {
  display: none;
}

/* SERVICES */
.services {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  text-align: center;
}

.services .service .icon img {
  max-width: 100px;
}

.services .service {
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.services .service h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 20px;
  color: var(--secondary-color);
}

.services .service p {
  line-height: normal;
  font-size: 1.1rem;
  margin: 10px 0;
}

/* WORK */
.portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.portfolio .item {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 5px;
}

.portfolio .item img {
  width: 100%;
  height: 100%;
}

.portfolio .item .action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.portfolio .item .action a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 5px 15px;
}

.portfolio .item .action:hover {
  opacity: 1;
}

/* CONTACT */
.contact {
  position: relative;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.contact-form {
  position: relative;
  background-color: #f9f9f9;
  width: 100%;
  padding: 30px 30px 20px;
}

.contact-form form {
  width: 100%;
}

.contact-form .row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-form .input50,
.contact-form .input100 {
  width: 100%;
  margin: 0;
}

.contact-form .row input,
.contact-form .row textarea {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #111;
  background: transparent;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 300;
  margin: 10px 0;
  resize: none;
}

.contact-form .row textarea {
  height: 150px;
}

.contact-form .row input[type="submit"] {
  background-color: var(--secondary-color);
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  border: 0;
  cursor: pointer;
}

.contact-info {
  width: 100%;
  margin-top: 20px;
  background: #f9f9f9;
  padding: 30px 30px 20px;
}

.contact-info .info-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.contact-info .info-box .contact-icon {
  width: 20px;
  margin-right: 40px;
}

.contact-info .info-box .details h4 {
  color: var(--secondary-color);
}

.contact-info .info-box .details p,
.contact-info .info-box .details a {
  color: var(--text-color);
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
  }

  .services .service {
    box-shadow: none;
  }

  .services .service:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 1068px) {
  .home-img {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 110%;
  }

  .logo {
    top: 30px;
    left: 100px;
  }

  .logo h1 {
    font-size: 2.1rem;
  }

  .navigation ul li a {
    font-size: 2.3rem;
  }

  section {
    padding: 100px;
  }

  .services {
    grid-template-columns: repeat(3, 1fr);
  }

  .contact {
    flex-direction: row;
  }

  .contact-form {
    width: calc(100% - 400px);
    padding: 60px 40px 20px;
  }

  .contact-form .row {
    flex-direction: row;
  }

  .contact-form .input50 {
    width: 50%;
    margin: 0 10px;
  }

  .contact-form .input100 {
    margin: 0 10px;
  }

  .contact-info {
    width: 350px;
    margin-top: 0;
    padding: 60px 40px 20px;
  }
}
