@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Refactor with CSS Variables */
:root {
  --container-size: 500px;
  --grid-size: 4;
  --box-size: calc(var(--container-size) / var(--grid-size));
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.magic {
  background-color: #192027;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  padding: 12px 20px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  letter-spacing: 1px;
  box-shadow: 0 3px rgba(25, 32, 39, 0.5);
  z-index: 100;
}

.magic:focus {
  outline: none;
}

.magic:active {
  box-shadow: none;
  transform: translateY(2px);
}

.boxes {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  height: var(--container-size);
  width: var(--container-size);
  position: relative;
  transition: 0.4s ease;
}

.boxes.big {
  height: calc(var(--container-size) * 1.2);
  width: calc(var(--container-size) * 1.2);
}

.boxes.big .box {
  transform: rotateZ(360deg);
}

.box {
  /* Change the Magic Image */
  background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExd3VpdnR1YTVwNGR1Z2loMmM0Y2swcnpxaWxycDFoaWVvaGEyaGwzbyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/HF481pmr9qJJLDA5qS/giphy.gif");
  background-repeat: no-repeat;
  background-size: var(--container-size) var(--container-size);
  position: relative;
  width: var(--box-size);
  height: var(--box-size);
  transition: 0.4s ease;
}

/* Adjust the 3D Effect Colors */
.box::after {
  content: "";
  background-color: #3b302a;
  position: absolute;
  top: 8px;
  right: -15px;
  height: 100%;
  width: 15px;
  transform: skewY(45deg);
}

.box::before {
  content: "";
  background-color: #192027;
  position: absolute;
  left: 8px;
  bottom: -15px;
  width: 100%;
  height: 15px;
  transform: skewX(45deg);
}
