@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;600&display=swap");

// Refactor with Custom Properties
:root {
  --primary-color: #f54538;
  --black: #070707;
  --gray: #323232;
  --white: #ffffff;
  --gradient: radial-gradient(#525252, #131313);
  --text-primary: var(--white);
  --text-secondary: #c4c4c4;
  --text-tertiary: #686868;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  // Implement a Smooth Scrolling Behavior
  scroll-behavior: smooth;
}

body {
  color: var(--text-primary);
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-family: "Lobster", cursive;
  font-weight: lighter;
}

h2 {
  font-size: 8rem;
  font-family: "Lobster", cursive;
  font-weight: lighter;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

p {
  font-size: 2.5rem;
}

li {
  font-size: 2rem;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}
