@media screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }

  nav {
    #logo {
      flex: 1;
    }
    ul {
      margin-left: 5rem;
    }
  }

  .showcase {
    grid-template-columns: 10% 1fr 10%;

    img {
      width: 100%;
      object-fit: contain;
    }

    img,
    h2,
    .info {
      grid-column: 2/3;
      text-align: center;
    }
  }

  .features {
    align-items: center;

    h2 {
      margin-top: 5rem;
    }

    .cards {
      flex-direction: column;
      width: 60%;

      .card {
        margin: 5rem 0rem;
      }
    }
  }

  .soon {
    overflow: hidden;

    img {
      width: 60%;
    }

    h2 {
      font-size: 5rem;
    }
  }

  .footer {
    h1 {
      flex: 1;
    }
  }
}

@media screen and (max-width: 640px) {
  .features {
    .cards {
      width: 100%;
    }
  }
}
