/* Use CSS Variables for Easy Customization */
:root {
  --loader-color: #228cdb;
  --loader-size: 50px;
  --animation-speed: 4s;
  --animation-delay: calc(var(--animation-speed) / 4);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #2c3e50;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.kinetic {
  position: relative;
  height: 80px;
  width: 80px;
}

.kinetic::after,
.kinetic::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  border: var(--loader-size) solid transparent;
  /* Change the Loader's Color */
  border-bottom-color: var(--loader-color);
  /* Experiment with Different Loader Shapes */
  /* border: var(--loader-size) solid var(--loader-color);
  border-top: var(--loader-size) solid transparent;
  border-right: var(--loader-size) solid transparent; */
  /* Adjust the Animation Speed */
  animation: rotationA var(--animation-speed) ease-in-out infinite
    var(--animation-delay);
}

.kinetic::before {
  transform: rotate(90deg);
  animation: rotationB var(--animation-speed) ease-in-out infinite;
}

@keyframes rotationA {
  0%,
  25% {
    transform: rotate(0deg);
  }
  50%,
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationB {
  0%,
  25% {
    transform: rotate(90deg);
  }
  50%,
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(450deg);
  }
}
