@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #eef1f8;
  color: #807e87;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

aside {
  padding: 10px 20px;
  width: 250px;
  border-right: 1px solid #bac6e1;
}

button {
  cursor: pointer;
  background-color: #fff;
  color: #46464a;
  border: solid 1px #bac6e1;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
}

main {
  flex: 1;
  padding: 10px 20px;
}

h1 {
  color: #46464a;
}

h2 {
  border-bottom: 1px solid #bac6e1;
  color: #9a9da4;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin: 0 0 20px;
}

h3 {
  background-color: #fff;
  color: #9a9da4;
  border-bottom: 1px solid #bac6e1;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin: 20px 0 0;
}

.person {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  body {
    justify-content: flex-start;
  }
  .container {
    padding: 0;
    flex-direction: column;
    justify-content: center;
    width: 96%;
    max-width: 96%;
  }
  aside {
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-right: none;
  }
  main {
    padding: 0;
  }
}
