@import url("https://fonts.googleapis.com/css2?family=Nixie+One&display=swap");

:root {
  --primary-color: #2d2254;
  --secondary--color: #f5c42f;
  --text-color: #c5bbec;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nixie One", cursive;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.6;
}

h1,
h2,
h3,
p {
  margin-bottom: 0.625rem;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  border: 0;
  background-color: var(--secondary--color);
  color: #fff;
  border-radius: 20px;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 10px;
}

.btn:hover {
  transform: scale(0.98);
}

.primary-text {
  color: var(--primary-color);
}

.secondary-text {
  color: var(--secondary--color);
}

.section {
  position: relative;
  padding: 0 20px;
}

.section-top {
  min-height: 200px;
  padding-top: 20px;
  background: url("https://i.ibb.co/PhVR2Vh/bg1.png") no-repeat center
    center/cover;
}

.section-top .content {
  text-align: center;
}

.section-top .content h1 {
  font-size: 45px;
}

.section-top .content,
.section-stream .play,
.section-stream .content {
  position: static;
  width: 100%;
}

.section-stream {
  min-height: 400px;
  background: url("https://i.ibb.co/bsX6RV0/bg2.png") no-repeat center
    center/cover;
}

.section-stream h2 {
  font-size: 35px;
}

.section-stream .play {
  width: 50%;
  display: block;
  margin: 30px auto;
  opacity: 0.5;
}

.section-stream .content > div,
.section-grid > div {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.section-grid {
  display: block;
  margin-top: 0;
  text-align: center;
}

.section-grid p {
  color: var(--text-color);
}

.section-grid .dot {
  font-size: 40px;
  padding-left: 2px;
}

.footer {
  border-top: var(--text-color) 1px solid;
  padding: 30px;
  margin-top: 20px;
}

.footer ul {
  display: block;
  text-align: center;
}

@media (min-width: 768px) {
  .section-top {
    min-height: 500px;
    padding-top: 0;
  }

  .section-top .content {
    position: absolute;
    top: 100px;
    right: 20px;
    width: 55%;
  }

  .section-top .content h1 {
    font-size: 70px;
    text-align: left;
    line-height: 1.3;
  }

  .section-stream {
    min-height: 700px;
  }

  .section-stream .play {
    width: 27%;
    position: absolute;
    top: 100px;
    left: 50px;
    opacity: 1;
  }

  .section-stream .content {
    position: absolute;
    width: 50%;
    top: 130px;
    right: 70px;
  }

  .section-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  .footer ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
