@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root {
  --main-color: #3B9B76;
  --secondary-color: #5AB193;
  --text-color: rgba(255,255,255,0.87);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
}

header {
  background: #040404 url('https://images.unsplash.com/photo-1495305379050-64540d6ee95d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80') no-repeat center center/cover;
  color: rgba(255,255,255,0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6.25rem 0;
  position: relative;
}

header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}

header * {
  z-index: 1;
}

header h1 {
  margin: 0 0 2rem;
}

form {
  position: relative;
  width: 31.25rem;
  max-width: 90%;
}

form input {
  border: 0;
  border-radius: 50px;
  font-size: 1rem;
  padding: 1rem 2rem;
  width: 100%;
}

form button {
  background-color: var(--main-color);
  color: rgba(255,255,255,0.95);
  position: absolute;
  top: 0.125rem;
  right: 0.125rem;
  border: 0;
  border-radius: 50px;
  font-size: 1rem;
  padding: 0.875rem 2rem;
}

form button:hover {
  background-color: var(--secondary-color);
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

input:focus, button:focus {
  outline: none;
}

.btn {
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 10px;
  color: #fff;
  padding: 0.25rem 0.625rem;
}

.btn:hover {
  background-color: var(--main-color);
}

ul.songs {
  list-style-type: none;
  padding: 0;
}

ul.songs li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.625rem 0;
}

.container {
  margin: 2rem auto;
  width: 31.25rem;
  max-width: 90%;
}

.container h2 {
  font-weight: 300;
}

.container p {
  text-align: center;
}

.centered {
  display: flex;
  justify-content: center;
}

.centered button {
  transform: scale(1.3);
  margin: 15px;
}

.toast {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 50px;
  font-size: 1rem;
  padding: 0.875rem 2rem;
  margin: 0.5rem;
}